body { 
  text-align: center;
  background: #eee;
}

p, a, td , body{
  font-family: sans-serif;
  font-size: 12px;
}

a {
  color: red;
  text-decoration: none;
}

a:Hover {
  text-decoration: underline;
}

h1 {
  margin: 0px;
  background: #333;
  color: white;
  padding: 4px;
  text-align: center;
}

h2 {
  padding: 4px;
  text-align: center;
}

.slide {
  border: 1px solid black;
  width: 18px;
  position: absolute;
  right: 0px;
  
  margin-top: -46px;
}

.menu {
  padding: 2px;
  text-align: center;
  
  border-bottom: 1px solid #333;
}

#content {
  margin: auto;
  width: 700px;
  text-align: left;
  background: white;
  position: relative;
  
  border: 2px solid #333;
  padding: 4px;
  min-height: 500px;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
}


table  td{
	border-collapse: collapse;
	border: 1px solid black;
}


td{
	border-collapse: collapse;
	border: 1px solid black;
	padding: 3px;
}

td.data{
	font-family: monospace;
	text-align: right;
}

td.title {
	font-weight: bold;
	background: #ccc;
	text-align: center;
}